* {
  box-sizing: border-box;
}
.container {
  width: 800px;
  background: #fef575;
  margin: 50px auto;
  padding: 36px;
}
.search-city {
  width: 100%;
  background: white;
  border-radius: 30px;
  padding: 12px 24px;
  border: 0;
  outline: 0;
}
#main-icon {
  width: 100%;
}
.forecast-icon {
  width: 32px;
}
.city-values {
  padding: 30px 36px;
}
.weather-details {
  margin-top: 36px;
}
.previsions {
  text-align: center;
  margin-top: 24px;
}
.emoji {
  font-size: 35px;
}
.day-weather {
  background: #8de8fd;
  margin: 0 12px;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.day-weather:hover {
  background: white;
  margin: 0 12px;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}
.day {
  font-weight: 500;
}
#celsius-value {
  text-decoration: none;
}
#fahrenheit-value {
  text-decoration: none;
}
button {
  background-color: #8de8fd;
  color: white;
  margin: 20px;
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: white;
  color: #8de8fd;
  transition: all 200ms ease-out;
}
#github-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.profile {
  text-decoration: none;
  color: black;
}
#weather-description {
  text-transform: capitalize;
}
#weather-temperature .active {
  color: black;
  cursor: default;
}
